.drinks{
    margin: 7.5rem 0 3rem;

    .title{
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2.4rem;
        letter-spacing: .5rem;
        margin: 0 0 4.5rem 0;

        &-card{
            font-family: 'gilroy';
            letter-spacing: .1rem;
            font-size: 2.8rem;
            padding-bottom: .6rem;
            margin: 0;

        }
    }

    .button{
        border: none;
        text-transform: uppercase;
        border-radius: 2rem;
        font-size: 1rem;
        color: white;
        background-color: rgba(0,0,0,.2);
        padding: .8rem 1rem;
        
        &--choice{
            background-color: $grey-light;
            color:$grey-dark;
            font-size: 1.6rem;

        }
    }

    &-card{
        &--red{
            @include drinks-card($drinks-red);
        }
        
        &--green{
            @include drinks-card($drinks-green);
        }
        
        &--orange{
            @include drinks-card($drinks-orange);
        }

        &-container{
            margin: 5rem 0 8rem;
        }

        &-header{
            position: relative;
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;

            &::after{
                position: absolute;
                display: block;
                content: "";
                width: 100%;
                height: 1px;
                bottom: 0;
                left: 0;
                background-color: white;
            }
        }

        &-footer{
            display: flex;
            margin-top: 1rem;
            justify-content: space-between;
            align-items: flex-end;
        }
    }

    &-icon{
        height: 100%;

        &-container{
            height: 2.5rem;
            width: 2.5rem;
        }
    }

    &-paragraph{
        font-size: 1.4rem;
        margin: 0;
    }

    .link-selection{
        text-transform: uppercase;
        color: white;
        font-size: 1rem;
    }

}




@media screen and (min-width: 768px){
    .drinks{
        margin: 15rem 0 6rem;
    
        .title{
            font-size: 6.5rem;
        }
    }
}


// titilium web