footer {
  background-color: #464646;

  iframe {
    width: 100%;
    min-height: 29rem;
    height: auto;
    margin-bottom: 2rem;
  }

  label {
    color: white;
  }

  h3 {
    text-align: center;
    color: white;
    padding: 1.5rem;
  }

  .btn {
    background-color: white;
  }

  .footer-title {
    font-family: "gilroy", sans-serif;
  }
}
